* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: grey;
}

.hide {
	display: none;
}

#letters {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	text-align: center;

	p {
		margin: 15px;
		font-size: 32px;
		border: 1px solid red;
		width: 50px;
		height: 50px;
	}
}
