* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #1a1a1a;
	position: relative;
}

svg {
	filter: brightness(0) saturate(100%) invert(87%) sepia(100%) 
	saturate(0%) hue-rotate(143deg) brightness(106%) contrast(101%);
	margin-top: 10%;
	z-index: 1;
}
.hide {
	display: none;
}

#letters {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	text-align: center;

	p {
		margin: 15px;
		font-size: 32px;
		border-bottom: 2px solid white;
		border-radius: 2px;
		width: 50px;
		height: 50px;
		color: orange;
	}
}

#win-screen {
	background-color: #4ced7a;
	height: 200px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	position: absolute;
	margin-top: 10%;
	gap: 40px;
	display: none;
	z-index: 2;
}

h1 {
	color: black;
	font-family: arial;
	font-size: 36px;
}

h2 {
	font-family: arial;
	font-size: 22px;
}

#loss-screen {
	background-color: #ed594c;
	height: 200px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	position: absolute;
	margin-top: 10%;
	gap: 20px;
	display: none;
	z-index: 2;
}

#the-word-was {
	font-family: arial;
	color: white;
}

button {
	background: white;
	border: none;
	border-radius: 10px;
	height: 40px;
	width: 100px;
	font-family: arial;
	font-size: 18px;
	text-align: center;
	transition: 0.2s;
}

button:hover {
	background-color: rgb(230, 230, 230);
	width: 108px;
	height: 44px;
	transition: 0.2s;
}

.used-letters {
	display: flex;
	margin-top: 40px;

	p {
		letter-spacing: 3px;
		color: rgb(255, 59, 59);
		font-size: 35px;
	}
}

