* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hide {
	display: none;
}

#letters {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	text-align: center;
	p {
		margin: 15px;
		font-size: 32px;
	}
}

p {
	border: 1px solid red;
	width: 50px;
}
